.img-logo{
    display: flex;
    justify-content: center;
}
.img-login{
    display: flex;
    justify-content: flex-end;
}

.nav{
    flex-wrap: wrap;
    justify-content: center;
}
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.div-header{
    background-color: #E9A0A1;
    border-radius: 10px;
    width: 40%;

}