
/* fundo de menu */
header{
    display: flex;
    background-color: #F3E4E4;
    align-items: center; 
    width: 100%;
    height: 300px;
    justify-content: center;
    position: relative;
}
/* config imagem logo */
.img-logo{
    position: absolute;
    top: -30%;
    transform: translateX(-100);
    z-index: 10;
    justify-content: center;  
}
/* config imagem menu */
.img-login{
    justify-content: end;
}
/* fundo de menu */
.nav{
    margin-top: 8%;
    flex-wrap: wrap;
    justify-content: center;
}
/* fundo de menu */
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
/* div fundo */
.header-conteudo-menu{
    background-color: #E9A0A1;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    align-items: center;
}
/* cor do itens do menu */
.menu:hover{
    color: white;
}
/* cor de fundo dropdown quando clica */
.dropdown-fundo a:active {
    background-color: #F3E4E4;
    color: black;
}
/* cor do fundo da imagem no body*/
.fundo-degrade{
    height: 100vh;  /* Garantir que o body ocupe a tela inteira */
    margin: 0;  /* Remover margem padrão */
    background: 
        linear-gradient(to bottom, #e99f9f6e 50%, #F3E4E4 50%);  /* Degradê entre as duas cores */
    display: flex;  /* Usar Flexbox para centralizar a imagem */
    justify-content: center;  /* Centraliza a imagem horizontalmente */
    align-items: center;  /* Centraliza a imagem verticalmente */
}
/* posicionamento da imagem sobre o fundo degrade*/
.imagem-do-fundo-degrade{
    position: absolute;  /* A imagem será posicionada sobre o fundo */
    width: 90%;  /* Tamanho da imagem (ajuste conforme necessário) */   
    height: 80%;  /* A altura será ajustada automaticamente para manter a proporção */
}

/*cor de fundo caroçel*/
.carocel-cor-fundo{
    background-color: black;
    padding: 150px;
}